.volumeCardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fast 0.3s ease-in-out;
}

.volumeCardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
}

.volumeCardLeftSection {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}

.volumeCardBorder {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 2%;
}

.volumeCardTitleContainer {
    display: flex;
    align-items: center;
    width: 96%;
}

.volumeCardTitle {
    padding: 0.5rem;
    white-space: nowrap;
    overflow-y: hidden;
}

.volumeCardRightSection {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-shrink: 0;
}

.volumeCardPercentageContainer {
    display: flex;
    margin: 0.5rem;
    border-radius: 0.375rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* JobCard styles */
.jobCard {
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid gray 1px;
}

.jobCardContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.jobCardHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.jobCardTitle {
    text-decoration: underline;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.jobCardInfos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jobCardControls {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.jobCardButtonDelete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    color: red;
    background-color: transparent;
}

.jobCardProgressBar {
    border-width: 4px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.375rem;
    width: 100%;
}

.jobCardProgressBarContent {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.jobCardProgressText {
    z-index: 5;
    flex-shrink: 0;
    text-align: center;
}

.jobCardVolumesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    border-radius: 0.375rem;
}

.jobCardVolumesList {
    width: 100%;
    border-radius: 0.375rem;
    animation: fast 0.3s ease-in-out;
}

@keyframes fast {
    0% {
        opacity: 0;
        transform: translateY(1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}