.title_card_container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    border: 1px solid var(--foreground);       
}

.title_card_container:active {
    outline: 6px solid #fcd34d;
}

.title_card_name_container {
    border-color: var(--foreground);
    border-top: 1px solid gray;
    overflow-y: scroll;
    margin-top: 0;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.title_card_name_container::-webkit-scrollbar {
    display: none;
}

.title_card_name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title_card_name>h3 {
    padding: 0.5rem;
    text-align: center;
}

.title_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title_card_image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground);
}

/* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    /Circular shape /
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    / Adjust font size as needed /
} */

/* .close-button {
    background-color: var(--foreground);
} */

/* .close-button:hover {
    background-color: var(--foreground);
}

.close-button:after {
    content: 'x';
    color: var(--foreground);
} */

.modal_backdrop {
    position: fixed;
}

.titles_wrapper_search_loading {
    min-width: 80px !important;
    min-height: 80px !important;
    margin: 10%;
    margin-top: 10rem;
    position: fixed;
}

.titles_list_wrapper {
    margin: 1.5em;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    visibility: hidden;
}

.titles_list {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 0;
}

@media only screen and (max-width: 1249px) and (min-width: 768px) {
    .titles_list {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media only screen and (max-width: 1499px) and (min-width: 1250px) {
    .titles_list {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}

@media only screen and (max-width: 1849px) and (min-width: 1500px) {
    .titles_list {
        grid-template-columns: repeat(5, minmax(100px, 1fr));
    }
}

@media only screen and (min-width: 1850px) {
    .titles_list {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
    }
}

.titles_list_item,
.titles_list_content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
}

.titles_list_item {
    /*filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));*/
    transition: filter 0.25s ease-in-out;
    background: var(--background);
}

/* .masonry-item:hover {
    filter: drop-shadow(0px 0px 5px rgb(159, 159, 159));
} */

.titles_list_item:active {
    outline: 6px solid #fcd34d;
}

.titles_list_footer {
    font-size: 0.75em;
    opacity: 0.25;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -1.5em;
    transition: opacity 1s ease-in-out;
}

.titles_list_footer a {
    color: currentColor;
}

.titles_list_footer:hover,
.titles_list_footer:active,
.titles_list_footer:focus {
    opacity: 0.75;
}

@media screen and (max-width: 730px) {
    .title_card_container {
        min-height: auto;
    }
}
