.nav-links-container {
    z-index: 60;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    overflow-x: scroll;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 30px 1px black;
    border-bottom: 1px solid gray;
    background-color: var(--background);
    -ms-overflow-style: none;

    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
}

.nav-links-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.nav-links-container::-webkit-scrollbar {
    display: none;
}

.nav-links-div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav-links-div-scrollbar-hidden {
    -ms-overflow-style: none;

    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
}

.nav-link {
    padding: 1rem;
    flex-shrink: 0;
    margin: 1rem;
    border-radius: 0;
}

.nav-user-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 1px solid gray;
}

@media (width <= 660px) {
    .nav-user-section {
        box-shadow: 0 0 30px 5px var(--background);
    }
}
