body {
    color: var(--foreground);
}

.loader-background {
    border: 2px solid var(--background);

    /* Light grey */
    border-top: 2px solid transparent;

    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
