.title-card-container {
    border-color: var(--foreground);
}

.title-card-container:active {
    outline: 6px solid #fcd34d;
}

.title-card-name-container {
    border-color: var(--foreground);
}

.close-button {
    background-color: var(--foreground);
}

.close-button:hover {
    background-color: var(--foreground);
}

.close-button:after {
    content: 'x';
    color: var(--foreground);
}

.primary-btn {
    padding: 1rem;
    border-radius: .375rem;
    border: 1px solid var(--foreground);
    background-color: var(--foreground);
    color: var(--background);
}

.secondary-btn {
    border-radius: .375rem;
    border: 1px solid var(--foreground);
    background-color: transparent;
    color: var(--foreground);
    min-height: 50px;
    max-height: 50px;
    line-height: 100%;
}

.loader {
    border: 2px solid #f3f3f3;
    /* Light grey */
    border-top: 2px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@media screen and (max-width: 730px) {
    .titleActionsModal__footer {
        display: flex;
        flex-direction: column;
    }

    .titleActionsModal__footer>button {
        margin-bottom: 0.5rem;
    }
}