.title-card-container {
    border-color: var(--foreground);
}

.title-card-container:active {
    outline: 6px solid #fcd34d;
}

.title-card-name-container {
    border-color: var(--foreground);
}

.close-button {
    background-color: var(--foreground);
}

.close-button:hover {
    background-color: var(--foreground);
}

.close-button:after {
    content: 'x';
    color: var(--foreground);
}